<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
  </head>
  <body>
    <img src="/COMPSA Logo.png" alt="COMPSA Logo" id="compsa-logo">
    <%- include("components/heading") %>
    <a href="https://res.cloudinary.com/dnmrwlniy/image/upload/v1692137478/Scavenger%20Hunt/image_ovuhzf.jpg">
      <img
        src="https://res.cloudinary.com/dnmrwlniy/image/upload/v1692137478/Scavenger%20Hunt/image_ovuhzf.jpg"
        alt="puzzle"
      />
    </a>
    <%- include("components/form") %>
  </body>
</html>
