<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
  </head>
  <body>
    <%- include("components/heading") %>
    <p><%= question %></p>

    <%- include("components/form") %>
  </body>
</html>
