<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
  </head>
  <body>
    <img src="COMPSA Logo.png" alt="COMPSA Logo" id="compsa-logo">
    <%- include("components/heading") %>
    <p id="question" style="font-size: 1.5rem;"><%= question %></p>

    <%- include("components/form") %>
  </body>
</html>
