<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
  </head>
  <body>
    <%- include("components/heading") %>
    <img
      src="https://res.cloudinary.com/dnmrwlniy/image/upload/v1692150176/Scavenger%20Hunt/Maze_dcwwfb.png"
      alt="puzzle"
      style="background-color: white;"
    />
    <p>
      Write your answer using the "wasd" notation, where "w" is up, "s" is down,
      "a" is left, "d" is right. Your movements stop whenever there is a choice
      of which direction to go again, at which point you type another letter to
      specify the direction.
    </p>
    <%- include("components/form") %>
  </body>
</html>
