<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scavenger Hunt</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <img
      src="https://res.cloudinary.com/dnmrwlniy/image/upload/v1692150176/Scavenger%20Hunt/Maze_dcwwfb.png"
      alt="puzzle"
    />
    <p>
      Write your answer using the "wasd" notation, where "w" is up, "s" is down,
      "a" is left, "d" is right. Your movements stop whenever there is a choice
      of which direction to go again, at which point you type another letter to
      specify the direction.
    </p>
    <form method="post">
      <div>
        <label for="answer" style="display: block">Answer</label>
        <input type="text" name="answer" value="<%= input || ""%>" required />
      </div>
      <p><%= incorrect && "Incorrect, please try again" %></p>
      <button>Submit</button>
    </form>
  </body>
</html>
