<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
  </head>
  <body>
    <img src="/COMPSA Logo.png" alt="COMPSA Logo" id="compsa-logo">
    <%- include("components/heading") %>
    <img
      src="imgs/maze.png"
      alt="puzzle"
      style="background-color: white; width: 20rem"
    />
    <p id="question">
      Start from the top. Write your answer using the "wasd" notation, where "w" is up, "s" is down,
      "a" is left, "d" is right. Your movements stop whenever there is a choice
      of which direction to go again, at which point you type another letter to
      specify the direction.
    </p>
    <%- include("components/form") %>
  </body>
</html>
