<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scavenger Hunt</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div><%= question %></div>
    <div><%= code %></div>
    <form method="POST">
      <div>
        <label for="answer" style="display: block">Answer</label>
        <input type="text" name="answer" required />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
