<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scavenger Hunt</title>
</head>
<body>
    <h1>Scavenger Hunt!</h1>
    <h2>Winners</h2>
    <ol>
        <% for( let winner of winners ) { %>
            <li><%= winner.name %></li>
            <p>TeamID: <%= winner.id %></p>
            <% const opt = { month: "long", day: "numeric", hour: "numeric", minute: "numeric"} %>
            <p>Time: <%= winner.createdAt.toLocaleString("en-US", opt) %></p>
        <% } %>
    </ol>
</body>
</html>