<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scavenger Hunt</title>
</head>
<body>
    <h1>Scavenger Hunt!</h1>
    <h2>
        Leaderboard
    </h2>
    <ol>
        <% for( let winner of winners ) { %>
            <li><%= winner.name %></li>
            <p><%= winner.id %></p>
        <% } %>
    </ol>
</body>
</html>