<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
  </head>
  <body>
    <h1>Success!</h1>
    <h2>Your team is registered as a winner</h2>
    <a href="/">
      Check out other winners!
    </a>
  </body>
</html>
