<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You Won!</title>
  </head>
  <body>
    <h1>Congratulations!</h1>
    <p>
      You have solved the final puzzle! To verify your victory, enter your team
      ID
    </p>
    <form method="POST">
      <label for="id">Enter Team ID</label>
      <input type="text" name="id" id="id" required />
      <button>Submit</button>
    </form>
  </body>
</html>
