textarea {
  margin: 0.5rem;
  margin-bottom: 2rem;
  background-color: rgb(201, 201, 255);
  border-radius: 0.7rem;
  padding: 1rem;
  transition: all 0.2s;
  border: none;
  resize: none;
}
textarea:focus {
  background-color: rgb(187, 187, 244);
  transform: translateY(-0.2rem);
  outline: 0;
}
.q-num {
  font-size: 4rem;
}
